$font-family-base: 'Roboto', sans-serif;
$font-family-logo: 'Ribeye', cursive;
$font-family-title: 'Gelasio', serif;
$normal: 400;
$semibold: 500;
$bold: 700;

// $primary-text-color: ;
// $secondary-text-color: ;

$text-color-hero-header: #ffffff;
$bg-color-button: #c9453b;

// $accent-color: ;
// $accent-color-hovered: ;

// $primary-bg-white-color: ;
// $secondary-bg-color: ;
// $-bg-color: ;

// $card-gap: ;

$fade-in-function: 300ms cubic-bezier(0.4, 0, 0.2, 1);
