$font-family-base: 'Roboto', sans-serif;
$font-family-logo: 'Ribeye', cursive;
$font-family-title: 'Gelasio', serif;
$normal: 400;
$semibold: 500;
$bold: 700;
$extra-bold: 900;

// $primary-text-color: ;
// $secondary-text-color: ;
$nav-text-color: #ffffff;
$hero-text-color: #ffffff;
// $accent-color: ;
// $accent-color-hovered: ;

// $primary-bg-white-color: ;
// $secondary-bg-color: ;
// $-bg-color: ;

// $card-gap: ;

// $timing: 250ms;
// $function: cubic-bezier(0.4, 0, 0.2, 1);
